html {
  background-image: url(https://images.unsplash.com/photo-1528460033278-a6ba57020470?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: auto;
  color: #317072;
  background-color: black;
  font-family: cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

body:first-child {
  border: 20px solid rgba(128, 128, 128, 0.792);
  border-style: inset;
  width: 400px;
}

h2 {
  text-align: center;
  border: 3px solid #c7e5e7;
  width: 250px;
  background-color: white;
}

h4 {
  width: 250px;
  text-decoration: underline;
  text-align: center;
}

.inputForm.submit {
  margin-left: 20px;
}
